@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;1,300;1,400&display=swap');


body {
  margin: 0;
  padding: 0;
  color: #3c484e;
  background-color: #1f2529;
  font-family: 'Alegreya Sans', sans-serif;
}

.Main {
  padding: 10px;
  grid-template-columns: minmax(auto, 768px);
  display: grid;
  justify-content: center;
}