.Products-items {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Products-item {
  background-color: white;
  text-decoration: none;
  /* box-shadow: 8px 14px 38px rgba(39,44,49,0.06), 1px 3px 8px rgba(39,44,49,0.03); */
  border-radius: 5px;
  margin: 0 0 20px 0;
}
.Products-item-info {
  padding: 10px;
}
.Products-item-info h2 {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.Products-item-info h2 span {
  color: #33b13a;
}
.Products-item-info p {
  font-size: 14px;
  font-weight: 300;
}
.Products-item img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}
.Products-item button {
  background: linear-gradient(to bottom, #FADB0E 5%, #c2b248 100%);
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  border: 0px;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}
.Products-item button:hover {
  background-color: rgba(39,44,49,0.06);
}

@media (min-width: 768px) {
  .Products-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 240px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
  }
}